* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

/**
 Navigation Bar Css
 */

.navbar_logo {
    height: 50px;
    width: auto;
    padding-left: 20px;
}


/**
    error page css
 */
.error_img{
    height: 80vh;
    display: block;
    width: 100%;
    text-align: center;
}

.error_img img {
    height: 100%;
    width: auto;
}

.error_page_button {
    height: 20vh;
    width: 100%;
}

.error_page_button a{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*-------------LOGIN,REGISTER FORM----------------------*/
#cardBodyForm, #cardBodyReg{
    border:none;
}

#cardBodyForm #loginForm input:not([type='checkbox']), #cardBodyReg #registerForm input:not([type='checkbox']){
    border:none;
    border-bottom:3px solid black;
}

#cardBodyForm #loginForm input:not([type='checkbox']), #cardBodyReg #registerForm input:not([type='checkbox']){
    outline:none !important;
    -webkit-appearance:none !important;
    box-shadow:none !important;
}

#passwordDiv, #passwordDivReg{
    position: relative;
}

.glyphicon{
    position: absolute;
    right:5px;
    bottom:25%;
    transform: translateY(-25%);
}

.gym-title{
    background-color: #00c2db;
    color: white;
    width: 100%;
}

.gym-title h1{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.login {
    padding: 40px;
}

/**
    Owner Profile Css
 */
.profile{
    height: 100%;
    width: 100%;
}

.profile .sidemenu{
    text-align: center;
    padding-right: 0;
    background: darkcyan;
}

.profile a{
    background: cadetblue;
    border-radius: 0 !important;
    text-decoration: none;
    color: #ffffff;
}

.profile .active_profile_tab,
.profile a:hover{
    background: #ffb243;
    color: cadetblue;
}

.main_profile{
    padding: 30px;
}

.profile_boxes{
    border: 1px solid cadetblue;
    width: 100%;
    padding: 0 !important;
}

.profile_boxes h4 {
    background: cadetblue;
    padding: 10px 20px;
    color: #ffffff;
}


/**
    Footer Css
 */

footer{
    background-color: rgba(26, 25, 24, 0.88);
    color: #ffffff;
}

footer p a {
    color: #ffffff;
}
